In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/bandwidths.csv", parse_dates=["Timestamp"])
df

,Timestamp,Central America,Africa,Middle East,Oceania,South America,Russia,Asia,Europe,North America
0,2024-06-12 16:50:00,63,124,932,176,1152,1948,6941,7953,4087
1,2024-06-12 17:00:00,62,122,932,176,1152,1902,6444,7941,4087
2,2024-06-12 17:10:00,63,124,932,177,1162,1931,6444,7953,4130
3,2024-06-12 17:20:00,62,122,943,180,1175,1931,6025,8061,4206
4,2024-06-12 17:30:00,61,120,943,180,1175,1950,5663,8061,4219
...,...,...,...,...,...,...,...,...,...,...
29717,2025-01-05 03:40:00,120,45,289,503,1969,504,6558,1844,8423
29718,2025-01-05 03:50:00,116,43,278,502,1953,498,6796,1764,8423
29719,2025-01-05 04:00:00,111,42,269,503,1887,498,7002,1676,8423
29720,2025-01-05 04:10:00,111,41,267,522,1824,504,7277,1601,8195
29721,2025-01-05 04:20:00,110,41,262,534,1763,505,7474,1523,8111

In [7]:
df2 = df.set_index("Timestamp").resample("10min").asfreq().reset_index()
cols = ["Central America", "Africa", "Middle East", "Oceania", "South America", "Russia", "Asia", "Europe", "North America"]
df2[cols] = df2[cols].astype("Int64")
df2

,Timestamp,Central America,Africa,Middle East,Oceania,South America,Russia,Asia,Europe,North America
0,2024-06-12 16:50:00,63,124,932,176,1152,1948,6941,7953,4087
1,2024-06-12 17:00:00,62,122,932,176,1152,1902,6444,7941,4087
2,2024-06-12 17:10:00,63,124,932,177,1162,1931,6444,7953,4130
3,2024-06-12 17:20:00,62,122,943,180,1175,1931,6025,8061,4206
4,2024-06-12 17:30:00,61,120,943,180,1175,1950,5663,8061,4219
...,...,...,...,...,...,...,...,...,...,...
29729,2025-01-05 03:40:00,120,45,289,503,1969,504,6558,1844,8423
29730,2025-01-05 03:50:00,116,43,278,502,1953,498,6796,1764,8423
29731,2025-01-05 04:00:00,111,42,269,503,1887,498,7002,1676,8423
29732,2025-01-05 04:10:00,111,41,267,522,1824,504,7277,1601,8195
29733,2025-01-05 04:20:00,110,41,262,534,1763,505,7474,1523,8111

In [8]:
df2.to_csv("../data/bandwidths.csv", index=False)